@model List<Exam>
@{
    <table class="table table-bordered">
     <tr>
        <td>Exam Id</td>
        <td>Exam degree</td>
        <td>Exam Date</td>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Course Name</td>
        <td>Instructor Name</td>
        </tr>
    @foreach (var item in @Model)
    {
        <tr>
        <td>@item.Id</td>
        <td>@item.degree</td>
        <td>@item.Start.ToString("dd MMMM  yyyy")</td>
        <td>@item.Start.Hour</td>
        <td>@item.End.Hour</td>
        <td>@item.Course.Name</td>
        <td>@item.Instructor.Name</td>
        
        </tr>
        
    }
      </table>
}
