@model ExaminationSystemProject.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="RegisterCourse" asp-route-id="@Model.ID">Register New Course </a> | 
    <a asp-action="ShowCourses" asp-route-id="@Model.ID">My Courses </a> | 
    <a asp-action="ShowExams" asp-route-id="@Model.ID">My Exams </a> | 
</div>
<div> @if(User.IsInRole("Admin"))
        {
         @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
          <a href="/student/Index" >Back to List</a>
    }
  <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
