@model List<ExaminationSystemProject.Models.Student>
@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<h1>Studens</h1>
<a href="/Student/New" class="btn btn-primary">Add New Student</a>
<table class="table table-hover">
    <tr class="row">
        <th class="col">No.</th>
        <th class="col">Name</th>
        <th class="col">Address</th>
        <th class="col">Courses</th>
        <th class="col"></th>
    </tr>

@foreach (var item in Model)
{
    <tr class="row">
        <td class="col">@(i++)</td>
        <td class="col">@item.Name</td>
        <td class="col">@item.Address</td>
        <td class="col"><ul>
                @*@foreach (var crs in @item.Courses)
                {
                    <li>@crs.Name</li>
                }*@
        </ul></td>

        <td class="col">
            <a href="/Student/Details/@item.ID" class="btn btn-secondary">Deatils</a>  
            <a href="/Student/Edit/@item.ID" class="btn btn-warning">Edit</a>
            <a href="/Student/Delete/@item.ID" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>