@model List<Exam>
@{
    ViewData["Title"] = "ShowExams";
    int i = 1;
}

<h1>My Exams</h1>
    <hr />
    <br />
@if(@ViewBag.hasExam)
{

    <table class="table table-hover">
        <tr class="row">
            <th class="col-1 ps-5">No.</th>
            <th class="col-1 ps-5">Course</th>
            <th class="col-3 ps-5">Start Time</th>
            <th class="col-3 ps-5">End Time</th>
            <th class="col-1 ps-5">Degree</th>
            <th class="col ps-5"></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-1 ps-5">@(i++)</td>
            <td class="col-1 ps-5">@item.Course.Name</td>
            <td class="col-3 ps-5">@item.Start</td>
            <td class="col-3 ps-5">@item.End</td>
            <td class="col-1 ps-5">@item.degree</td>


            <td class="col ps-5">
                    @if (DateTime.Compare(item.End,DateTime.Now) > 0)
                    {
                        @if(DateTime.Compare(item.Start,DateTime.Now) <= 0)
                        {
@*                            href="/Student/SolveExam/@item.Id" name="ExamID"
*@                            <a asp-action="SolveExam" asp-route-ExamID="@item.Id"  class="btn btn-warning">Answer Now</a>
                        }
                        else
                        {
                            <a href="/Student/SolveExam/@item.Id" class="btn btn-warning disabled">Answer</a>
                        }
                    }
                    else
                    {
                        <a href="" class="btn btn-danger disabled">Time Ended</a>
                    }
                    
            </td>
        </tr>
    }
    </table>
    }
else{
    <h2 class="text-center">There are No Exams now</h2>
}
    <div class="text-center">
        <a href="/Student/Details/@ViewBag.StdCrsID" class="btn btn-secondary">Back To Deatils</a>
    </div>
