@model IEnumerable<ExaminationSystemProject.Models.Instructor>

@{
    ViewData["Title"] = "GetInstructors";
}

<h1>GetInstructors</h1>

<p>
    <a asp-action="AddInstructor">Add Instructor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
      
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <div>
                    <img src="#"  width="100" height="100">
                </div>
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="btn btn-" asp-action="DeleteInstructor" asp-route-id="@item.ID">Delete</a>
                <a class="btn btn-info" asp-action="ShowInstructorCourseAndExams" asp-route-id="@item.ID">Exams&Course</a>
            </td>
        </tr>
}
    </tbody>
</table>
